
/* GLOBAL STYLES */

body {
  color: #333;
  text-shadow: 0 1px 1px #fff;
  background: url('../images/cardboard_flat.png') repeat top left;  
  margin: 0;
  padding: 0; 
}

.hr {
  width: 100%;
  border-bottom: 2px dashed #fff;
  margin: 20px 0;
  height: 1px;
  float: left;   
}

#main {
  float: left; 
  width: 100%;
  position: relative; 
  min-height: 400px; 
}

.message {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 10px;
    width: 100%;
}

.message p {
  margin: 0;
  padding: 0;   
}

/* END GLOBAL STYLES */

/* BUTTONS AND LINKS */

a:link, a:visited, span.toggle {
  color: #f88400;
  text-decoration: none; 
  cursor: pointer;  
}

a:hover, span.toggle:hover {
 color: #d75b00;
}

.button, a.button, input.button {
 background: #f88400;
 color: #fff;
 padding: 5px 10px;
 text-decoration: none;
 text-shadow: none;
 float: left; 
 border: none;  
}

.button:hover {
 background: #ffb25a;
 color: #7c470a;   
}

.button.large {
  font-size: 22px;
  padding: 10px 15px 8px;   
}

.button.small {
    padding: 4px 8px 2px;
}

.button.red {
  background: #D30000;   
}

.button.red:hover {
  color: #fff;
  background: #c90000;   
}

.red {
  color: #bf2a38;   
}

.small {
  font-size: 12px;   
}

span.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 100;   
}

span.link:hover {
  cursor: pointer;   
}

.tooltip {
    display:none;
    background:#333;
    font-size:11px;
    height:auto;
    width:140px;
    padding:10px 15px;
    color:#eee;
    text-shadow: none;
}

.tooltip:before {
    border-color: #333 rgba(0, 0, 0, 0) -moz-use-text-color;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-style: solid solid none;
    border-width: 10px 10px 0;
    bottom: -10px;
    content: " ";
    display: block;
    height: 0;
    left: 80px;
    position: absolute;
    width: 0;
    z-index: 2;
}
  
  
/* END BUTTONS AND LINKS */

/* TYPOGRAPHY */
body, .pure-g-r, .pure-g-r [class*="pure-u"] {
  font-family: "Myriad Pro",Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1 {
  font-size: 48px; 
  font-weight: 100; 
  letter-spacing: -1px; 
  margin: 0 0 20px 0;
}

p {
  margin: 0 0 15px 0;   
}

/* END TYPOGRAPHY */

/* FORMS */
fieldset {
  border: none; 
}

legend {
  margin: 0 0 20px 0;  
  font-style: italic; 
  float: right;
  width: auto;
  max-width: 240px;
  text-align: left;
  background: #fff;
  padding: 10px 15px;
  font-size: 13px;
  position: relative;
  top: 40px;
}

fieldset p {
  float: left;
  width: 560px;   
}

fieldset span.mandatory {
  position: absolute;
  left: 0;   
}

label {
  font-weight: bold;
  float: left;
  width: 200px;   
}

input[type="text"], input[type="email"], textarea {
    border: medium none;
    box-shadow: none;
    font-family: "Myriad Pro";
    font-size: 15px;
    line-height: 1em;
    padding: 10px 15px;
    width: 350px;
    color: #999;
}

input.error {
  border: 1px solid #981212;
  background: #f5d4d4;   
  color: #981212;
}

ul.errorlist {
  margin: 15px 0;
  padding: 0;
  list-style-type: none;
  color: #981212;
  font-weight: bold;
}

/* END FORMS */

.centered {
  width: 900px;
  margin-left: -450px;
  left: 50%;
  position: relative;
}

/* HEADER SPECIFIC */

#header {
  margin-top: 30px;  
  margin-bottom: 30px; 
  padding-bottom: 20px;
  min-height: 80px;
  float: left;
  width: 100%;
  border-bottom: 2px dashed #fff;
  position: relative;
}

#basket {
  height: 5px;
  position: absolute;
  width: 100%;
  background: none repeat scroll 0 0 #F6F3EB;
}

#basket .tab {
  float: right;
  position: absolute;
  right: 0px;
  bottom: -30px;
  background: none repeat scroll 0 0 #F6F3EB;
  padding: 7px 20px 5px;
  border-radius: 0 0 15px 15px;
  font-size: 0.8em;
  font-weight: bold;
  border-width: 0 1px 1px 1px;  
}

#basket .tab #quantity a {
  margin-left: 10px;   
}

#basket .tab.selected {
  font-size: 1em;
  padding-top: 10px;
  bottom: -35px;   
}

#basket .tab#currency {
  right: 300px;
  padding: 7px 10px 5px;   
  display: none;
}

#currency a {
  font-weight: normal; 
  padding: 0 5px;  
}

#currency a.strong {
  color: #333;   
  font-weight: bold;
}

#header #logo {
  position: relative;
  left: 0%;
  float: left;
  margin-left: px;
}

#header ul {
  text-align: right;
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 65px 0 0px;
  position: absolute;
  bottom: 10px;
  right: 0;
}


#header ul li {
 float: left;
}

#header ul li a {
 padding: 5px 25px;
 letter-spacing: 0;
 text-decoration: none;  
 color: #605934;
 font-size: 1.1em;
}

#header ul li a:hover {
  color: #d75b00; 
}

#header ul li a.selected {
  font-weight: bold;
  color: #333;   
}

#header ul li:last-child a {
  border-right: none;
  padding-right: 0;   
}

#header ul li:first-child a {
  padding-left: 0;  
}

/* END HEADER SPECIFIC */

/* HOMEPAGE SPECIFIC */

#intro {
  padding: 0 20px; 
  text-align: center;  
}

#intro #mugshot {
  float: left;
  margin: 0 20px 0px 0;   
}

#intro p.intro {
  font-size: 1.6em;
  margin: 0 0 0px 0;  
}

#intro ul {
  list-style-type: none;
  margin: 20px 0 0 ;
  padding: 0px 0 0 0;
  color: #333;
  font-weight: bold ;
}

#intro ul li {
    background: none repeat scroll 0 0 #F6F3EB;
    display: inline;
    font-size: 1.1em;
    margin: 0 5px 0 0;
    padding: 7px 15px 5px;
    position: relative;
}

#intro ul li:first-child {
  padding-left: 10px;   
}

#intro ul li span {
  font-weight: normal;
  color: #E26800;
}

#products {
  margin: 0 0 20px 0;   
}

#products li:hover > .image, #products li:hover > .text {
  opacity: 0.8;   
}

#products .product {
  position: relative;   
}

.product .inner {
  background: #f6f3eb;
  margin-right: 10px;
  padding: 10px;
  float: left;
  width: 90%;
}

.product .inner:hover {
  box-shadow: 0 1px 5px #c7ba98; 
  background: #fff;
  cursor: pointer; 
}

.product h3 {
  margin: 10px 0 0;  
  color: #e26800; 
}

.product p {
  margin: 0;
  font-size: 0.8em;   
}

.product .pricebar {
  float: left;
  width: 100%; 
  margin: 5px 0 0 0;
  border-top: 1px dashed #e1e1e1;
  padding: 10px 0 0 0;  
}

.product .pricebar .price {
  float: left; 
  position: relative;
  top: 5px;   
}

.product .pricebar .price .number {
  font-weight: bold; 
 
}

.product .pricebar .price .quantity {
 color: #777;
}

.product .pricebar .button {
  float: right;   
}

#banner {
  float: left;
  width: 100%;   
}

#banner .inner {
  padding: 10px;
}

#banner .inner p {
  padding: 0;
  margin: 0; 
  font-size: 2em;  
}

#photo-banner {
  position: relative; 
  float: left;  
}

#photo-banner img {
  max-width: 900px;
}

#photo-banner .text {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 40px;
    font-size: 1.2em;
    padding: 15px 20px;
    position: absolute;
    right: 40px;
    width: 35%;
}

#photo-banner .text p {
  padding: 0;
  margin: 0;   
}

/* END HOMEPAGE SPECIFC */

/* ORDER PROCESS STYLES */

#steps {
  list-style-type: none;
  float: right;
  margin: 20px 0 0;
  width: auto;   
}

#steps li {
  float: left;
  padding: 0 10px;   
}

/* END ORDER PROCESS STYLES */

/* PAGE STYLES */

#left p {
  font-size: 13px;
  line-height: 1.8em;   
}

p.intro, #left p.intro {
  font-size: 1.3em;   
}


#right .box {
  float: right; 
  margin: 0 0 20px 0;
  position: relative;    
}

#right .box img {
  width: 100%;   
}

#right .box img.cards {
  width: auto;   
}

#right .box .price {
  margin: 10px 0 0;
  color: #F88400;   
}

#right .box:hover .price {
  color: #D75B00;   
}

#right .box p:last-child {
  margin: 0;   
}

#right div.white {
  background: #fff;
}

#right div .inner {
  padding: 15px;   
}

#right div h3 {
  margin: 0;   
}

ul.rss {
   position: absolute;
   top: 0px;
   right: 0px;	
   float: right;
   list-style-type: none;
   width: 290px;
   overflow: hidden;
   margin: 15px 0 0 0;
   padding: 0;
}

ul.rss li {
  float: left;
  width: 80px;
  margin: 0 5px 0 0;
  position: relative;   
}

ul.rss #google {
  width: 60px;
}

iframe[id^="oauth2relay"] { 
    left: auto !important; 
    right: 0px !important; 
}

ul.rss #facebook {
  width: 75px;
}


/* END PAGE STYLES */

/* FOOTER STYLES */
#footer {
  background: url('../images/footer_back.png') repeat top left; 
  float: left;
  height: 200px;
  padding: 30px 0 100px 0;
  margin: 50px 0 0 0;
  width: 100%;  
  box-shadow: 0 1px 5px #ccc inset;
  border-top: 2px solid #bbb;
}

#footer h4 {
  margin: 5px 0 10px;   
}

#footer ul {
  list-style-type: none;
  padding: 0 30px 0 0;
  margin: 0; 
  font-size: 0.8em;
  line-height: 1.6em;  
}

#footer ul#social {
  margin: 0;
  padding: 0; 
  list-style-type: none; 
  float: right;
  width: 200px; 
}

#footer ul#social li.first {
  float: left;
  text-transform: uppercase;
  padding: 17px 0 0;   
  margin: 0 5px 0 0;
}

#footer ul#social li a {
  height: 52px;
  width: 52px;
  background: url('/static/images/social-icons.png') no-repeat top left;
  float: left;
  margin: 0 0 0 5px;
}

#footer ul#social li a:hover {
  background-position: 0 -52px;   
}

#footer ul#social li a#facebook {
  background-position: -104px 0px;   
}

#footer ul#social li a#facebook:hover {
  background-position: -104px -52px;   
}

/* END FOOTER STYLES

