{% if address.line_1 %}{{ address.line_1|capfirst }}<br/>{% endif %}
{% if address.line_2 %}{{ address.line_2|capfirst }}<br/>{% endif %}
{% if address.line_3 %}{{ address.line_3|capfirst }}<br/>{% endif %}
{% if address.town_city %}{{ address.town_city|capfirst }}<br/>{% endif %}
{% if address.county %}{{ address.county|capfirst }}<br/>{% endif %}
{% if address.postcode %}{{ address.postcode|upper }}<br/>{% endif %}
{% if address.country %}{{ address.get_country_display|capfirst }}{% endif %}
	