{% load staticfiles %}
<div id="footer">
 <div class="pure-g-r centered">
    <div class="pure-u-1-3">
        <ul>
            <li><strong>Useful information</strong></li>
        {% for x in footer_links %}
            <li><a href="{{ x.get_absolute_url }}">{{ x.name }}</a></li>
        {% endfor %}
        </ul>        
    </div>
    
    <ul class="pure-u-1-3">
        <li><strong>From our blog</strong></li>
        {% for x in latest_blogs %}
        <li><a href="{{ x.get_absolute_url }}">{{ x.title }}</a></li>
        {% endfor %}
    </ul>
    
    <ul id="social" class="pure-u-1-3 right">
        <li class="first">Find us on:</li>
        <li><a target="_blank" id="pinterest" href="http://www.pinterest.com/gofuzzymoose/"></a></li>
        <li><a target="_blank" id="facebook" href="http://www.facebook.com/fuzzymoosekitchen"></a></li>
    </ul>
    
  </div>	
</div>