{% extends base_template %}
{% load thumbnail nav_selected %}

{% block metadescription %}{{ category.meta_description }}{% endblock %}

{% block pagetitle %}{{ category.name }}{% endblock %}

{% block extrajs %}
<script type="text/javascript">
</script>
{% endblock %}

{% block extracss %}
<style type="text/css">

#products {
  list-style-type: none;
  margin: 0;
  padding: 0;   
}

#products li {
  position: relative;
  float: left;
  margin: 0 0 20px 0;
}

#products li .image {
  margin: 0px 0 10px;
  width: 95%;
  height: 200px;
  overflow: hidden;
}

#products li .text {
  width: 95%;
  text-align: center;   
}

</style>
{% endblock %}

{% block content %}
<h1>{{ category.name }}</h1>
<p>{{ category.description|safe }}</p>

<ul id="products" class="pure-u-1">
{% for x in category.get_products %}
    <li class="pure-u-1-3">
        <a href="{{ x.get_absolute_url }}"><span class="link"></span></a>
        
        <div class="image">
            {% thumbnail x.get_main_photo.image product_photo_medium crop="center" as im %}
                <img src="{{ im.url }}" />
            {% endthumbnail %}
        </div>
        <div class="text">
            <a href="{{ x.get_absolute_url }}">{{ x.name }}</a>    
        </div>
    </li>
{% endfor %}
</ul>

{% endblock %}
