{% extends base_template %}
{% load i18n %}

{% block pagetitle %}{% trans 'Order Complete' %}{% endblock %}

{% block extrajs %} 
{% endblock %}

{% block extracss %}
<style type="text/css">
</style>
{% endblock %}

{% block content %}

<div class="pure-g-r">
  	
  	<h1 class="pure-u-1-2">Order complete</h1>

</div>
   
<div class="pure-g-r">

    <div class="pure-u-1">
    <p class="introduction">{% trans "We've received your order and payment successfully. We've also sent you an email confirming the details. Thank you!" %}</p>


    <p>{% trans "Please note, we must confirm payment is received before we can ship any orders. If there is a problem with your order, we will contact you immediately to resolve this. Many thanks for your patience." %}</p>
    
    
    <p>If for any reason you need to contact us, email us at <a href="mailto:{{ contact_email }}">{{ contact_email }}</a> and quote your order ID ({{ order.order_id }}). Thanks for your patience!</p>

    </div>
    
</div>

{% endblock %}
