{% extends base_template %}
{% load thumbnail nav_selected convert_links i18n %}

{% block aboutselected %}selected{% endblock %}

{% block metadescription %}{{ page.meta_description }}{% endblock %}

{% block pagetitle %}{% if page.meta_title %}{{ page.meta_title }}{% else %}{{ page.name }}{% endif %}{% endblock %}

{% block canonical %}<link rel="canonical" href="{{ site_url }}{{ page.get_absolute_url }}" />{% endblock %}

{% block extrajs %}
<script>
$(function() {
$(".scroll").scrollable({ circular: true }).click(function() {
	$(this).data("scrollable").next();		
});
});

$(function() { 
	$('.hoverbox').hover(
		function() {
			$('div', this).animate({top: '100px',}, 200);
		},
		function() {
			$('div', this).animate({top: '145px',}, 200);
		}
	);	  
});

</script>

{% endblock %}

{% block extracss %}
<style type="text/css">


</style>
{% endblock %}

{% block content %}

<h1>{{ page.name }}</h1>

{{ page.content|convert_links|safe }}


{% endblock %}
