{% extends base_template %}
{% load i18n %}

{% block pagetitle %}{% trans 'Order (Step 2) - Your details' %}{% endblock %}

{% block extrajs %}
<script type="text/javascript">


function calculateSubTotal() {
  
  var subTotal = 0;
  
  $('#summary tr.item').each( function(i,v) {    
    if ( $(this).attr('data-amount') ) {
      subTotal += parseFloat( $(this).attr('data-amount') );
    }
  });
  
  /// WRITE IN THE POSTAGE AMOUNT
  $('#postage .amount').text( $('#postage').attr('data-amount') );
  
  
  /// NOW CALCULATE POSTAGE
  if ( $('#collect input').is(':checked') ) {
    $('#postage').addClass('strikethrough');   
  } else {
    subTotal += parseFloat( $('#postage').attr('data-amount') ); 
  }
  
  
  $('#total .amount').text(subTotal.toFixed(2));   
}

$(document).ready( function() {
    
    $('form label').not('#will_collect_label').hide();
    
    {% if will_collect %}
        $('#address').hide();
        $('#postage').addClass('strikethrough');
    {% endif %}
    
    if ( $('#collect input').is(':checked') ) {
      $('#address').hide(); 
      $('#postage').addClass('strikethrough');  
    }
    
    $('#collect input').click( function() {
       $('#address').toggle();
       $('#postage').removeClass('strikethrough');
       calculateSubTotal();
    });
    
    calculateSubTotal();
    
});
</script>
{% endblock %}

{% block extracss %}
<style type="text/css">

#basket {
  display: none;  
} 

#collect {
    float: left;
    width: 470px;
    margin: 0 0 30px 0;
}

#collect input {
  float: left;
  margin: 0 15px 0 0;
}

#collect .help {
  font-size: 11px;   
  float: left;
  width: 470px;
}

#summary {
 background: #fff;
}

#summary .inner {
 width: 94%;
 padding: 10px 3%; 
 float: left;   
}

#summary .inner h3 {
  margin: 0 ;   
}

#summary #checkout-button {
  float: left;  
  margin: 10px 0 0; 
}




</style>
{% endblock %}

{% block content %}


<div class="pure-g-r">
  	<h1 class="pure-u-1-2">Your details</h1>
  	  	
  	<ul id="steps" class="pure-u-1-2">
		<li>
			<a class="completed" href="{% url 'basket' %}">1. Your basket</a>
		</li>
		<li>
			<a class="selected" href="{% url 'order_step_one' %}">2. Your details</a>
		</li>
		<li>
			3. Confirm and pay
		</li>
	</ul>
	
	</div>
      
   <div class="pure-g-r">
        

      <form method="post" action="." > 	 
        {% csrf_token %}
            
            <div class="pure-u-3-5">

    		{% if form.first_name.errors or form.last_name.errors or form.email.errors or form.line_1.errors or form.postcode.errors or form.town_city.errors %}
    		<ul class="errorlist">
    		  <li>
    		      * {% trans 'Please enter all the information in the mandatory fields (highlighted red) below' %}:
    		  </li>
    		  </ul>
    		{% endif %}
        <fieldset>
    		<p>
    			<label for="id_first_name">{% trans 'First name' %}</label>
    			<input  class="clearMeFocus {% if form.first_name.errors %}error{% endif %}" type="text" title="{% trans 'First name' %}" name="first_name" id="id_first_name" value="{{ first_name }}"/>
    		</p>
    		<p>
    			<label for="id_last_name">{% trans 'Surname' %}</label>
    			<input class="clearMeFocus {% if form.last_name.errors %}error{% endif %}" title="{% trans 'Last name' %}" type="text" name="last_name" id="id_last_name" value="{{ last_name }}"/>
    		</p>
    		<p>
    			<label for="id_email">{% trans 'Email address' %}</label>
    			<input class="clearMeFocus {% if form.email.errors %}error{% endif %}" title="{% trans 'Email address' %}" type="email" name="email" id="id_email" value="{{ email }}"/>
    		</p>	

            <p id="collect">
                <input type="checkbox" name="will_collect" id="id_will_collect" {% if will_collect %}checked="checked"{% endif %}/>
                <label id="will_collect_label">I'll collect the order myself</label>
                <span class="help">If you check this box we'll prepare your order and e-mail you to arrange a time and place for collection when it's ready. We're based in South London.</span>
            </p>
            
           <div id="address"> 
          <p>
          	<label for="id_house_name_number">{% trans 'House name number' %}:</label>
          	<input class="clearMeFocus {% if form.line_1.errors %}error{% endif %}" title="{% trans 'Your address...' %}" id="id_line_1" type="text" name="line_1" value="{{ line_1 }}"/>
          </p>
	  
    	  <p>
    	  	<label for="id_line_2">{% trans 'Address line 1' %}:</label>
    	  	<input class="clearMeFocus {% if form.line_2.errors %}error{% endif %}" title="{% trans ' ...address continued (optional)' %}" id="id_line_2" type="text" name="line_2" value="{{ line_2 }}"/> 
    	  </p>
      	
          <p>
          	<label for="id_line_3">{% trans 'Address line 2' %}:</label>
          	<input class="clearMeFocus {% if form.line_3.errors %}error{% endif %}" title="{% trans ' ...address continued (optional)' %}" id="id_line_3" type="text" name="line_3"  value="{{ line_3 }}"/>
          	</p>
      
          <p>
          	<label for="id_town_city">{% trans 'Town / City' %}:</label>
          	<input class="clearMeFocus {% if form.town_city.errors %}error{% endif %}" title="{% trans 'Town or city' %}" id="id_town_city" type="text" name="town_city" value="{{ town_city }}"/> 
          </p>
          
          <p>
          	<label for="id_postcode">{% trans 'Postcode' %}:</label>
          	<input class="clearMeFocus {% if form.postcode.errors %}error{% endif %}" title="{% trans 'Postcode' %}" id="id_postcode" type="text" name="postcode" value="{{ postcode }}" /> 
          	</p>
      
    	  
    	  </div>
        </fieldset> 
    </div>	  



	<div id="summary" class="pure-u-2-5 padding">
        <div class="inner">
            <h3>Your order summary</h3>
            <table>
                {% for i in basket.get_items %}
                <tr class="item" data-amount="{{ i.price.price|floatformat:'2' }}">
                    <td>{{ i.price.product }} x {{ i.quantity }}</td>
                    <td>{{ currency.symbol }}{{ i.price.price|floatformat:"2" }}</td>
                </tr>
                {% endfor %}
                <tr id="postage" data-amount="{{ shopsettings.flat_fee_postage_price|floatformat:"2" }}">
                    <td>Postage</td>
                    <td>{{ currency.symbol }}<span class="amount"></span></td>
                </tr>
                <tr id="total">
                    <td>Subtotal</td>
                    <td>{{ currency.symbol }}<span class="amount"></span></td>
                </tr/>
            </table>
            
            <div id="checkout-button">
		          <input type="submit" value="{% trans 'Next step - confirm and pay' %} &raquo;" next="" class="button large"/>
            </div>
        </div>
    </div>
    
    </form>


	</div>

  </div>
</div>

{% endblock %}
