{% extends base_template %}
{% load thumbnail i18n staticfiles %}

{% block pagetitle %}{% trans 'Order (Step 3 of 4) - Confirm Order' %}{% endblock %}

{% block extrajs %}
<script type="text/javascript">

</script>

{% endblock %}

{% block extracss %}
<style type="text/css">

#basket {
  display: none;   
}

#address {
  margin: 20px 0 0;
  border-top: 1px dashed #fff;
  border-bottom: 1px dashed #fff;
  padding: 20px 0;   
}

#address p.address {
  margin: 0;   
}

#items tr td {
  padding: 10px 0;   
}

#items tr td:first-child {
  width: 550px;  
  padding-right: 30px; 
}

#items tr td:last-child {
  text-align: right;   
}

#payment {
  margin: 20px 0 0;   
}

.stripe-button-el {
  font-size: 22px;
  float: right;   
}

#payment .stripe-button-el span {
  font-size: 18px;
  height: 35px;
  padding: 4px 20px 0;  
}

#bottom {
  margin: 30px 0 0;   
}

.info h3 {
  margin: 0 0 5px 0;   
}

</style>

{% endblock %}

{% block content %}

<div class="pure-g-r">
  	
  	<h1 class="pure-u-1-2">Confirm your order</h1>
  	  	
  	<ul id="steps" class="pure-u-1-2">
		<li>
			<a class="completed" href="{% url 'basket' %}">1. Your basket</a>
		</li>
		<li>
			<a class="completed" href="{% url 'order_step_one' %}">2. Your details</a>
		</li>
		<li>
			<a href="" class="selected">3. Confirm and pay</a>
		</li>
	</ul>

</div>
   
<div class="pure-g-r">
				
	<div id="items" class="pure-u-4-5">
		<table>
			{% for thing in items %}
				  <tr>				
			    	<td class="pure-u-1" valign="top">
			    		<strong>{{ thing.price.product.name }} x {{ thing.quantity }}</strong> 
			    		<span class="small">{{ thing.price.description }}</span>
			    		{% if not shopsettings.flat_fee_postage_price %}
			    		   <span class="small">
			    		   {% if thing.price.special_postage_price %}
			    		       + {{ currency.symbol }}{{ thing.price.special_postage_price|floatformat:"2" }} postage each
			    		   {% else %}
			    		       + {{ currency.symbol }}{{ shopsettings.standard_postage_price|floatformat:"2" }} postage each
			    		   {% endif %}
			    		   </span>
			    		{% endif %}
			    		
			    		
			    		{% if thing.price.product.mixed_box %}
			    		<br/>
            		      <span class="small">Equal amounts of </span>
            		      {% for x in thing.mixed_box_choices.all %}
            		          <span class="small">{{ x }} {% if not forloop.last %}and {% endif %}</span>
            		      {% endfor %}
            		   {% endif %}
			    		
			    		
			    		{% if thing.price.out_of_stock %}
			    		<br/>
			    		<span class="red small">This item is out of stock! Please don't continue with the order unless you've contacted us first to confirm.</span>
			    		{% endif %}
			    	</td>
			    	<td valign="top">{{ currency.symbol }}{{ thing.total_price|floatformat:"2" }}</td>		    				
				  </tr>
	        {% endfor %}
	        
	        
	        {% if order.will_collect %}
	               <tr>
        	    	    <td><span class="small"><em>You've nominated to collect your order instead of having it posted to you. There's no shipping charge, and we'll contact you once your order is paid to confirm collection arrangements.</em></span></td>
        	    	    <td class="strikethrough">{{ currency.symbol }}{{ shopsettings.flat_fee_postage_price|floatformat:"2" }} </td>
    	    	   </tr>   
	        {% else %}
	        
    	    	{% if shopsettings.flat_fee_postage_price %}
    	    	
    	    	  {% if postage_discount %}
    	    	      <tr class="{% if order.will_collect %}strikethrough{% endif %}">
        	    	    <td colspan="2"><span class="small"><em>{% blocktrans with currency.symbol as symbol and shopsettings.postage_discount_threshold as ptd %}There is no postage charge, because your order is over {{ symbol }}{{ ptd }}{% endblocktrans %}</em></span></td>
    	    	      </tr>
    	    	  {% else %}
    	    	      <tr>
    	    	          <td>{% trans 'Postage' %}</td>
    	    	          <td>{{ currency.symbol }}{{ shopsettings.flat_fee_postage_price|floatformat:"2" }}</td>
    	    	      </tr>
    	    	  {% endif %}
    	    	
    	    	{% endif %}
    	    	
    	    {% endif %}
	    		        
	        
	        {% if order.discount %}
	      	  <tr>
	      	  	<td>{% trans 'Discount' %}</td>
	      	  	<td><span class="red">-{{ currency.symbol }}{{ discount_amount|floatformat:"2" }}</span></td>
	      	  </tr>
	      	{% endif %}
			  <tr>
			  	<td><strong>{% trans 'TOTAL' %}</strong></td>
			  	<td><strong>{{ currency.symbol }}{{ total_price|floatformat:"2" }}</strong></td>		  
			  </tr>
		   </table>
	</div>

	<div id="address" class="pure-u-4-5">
        <p class="address">
            {% with order.address as address %}
              <strong>{{ order.shopper.user.first_name }} {{ order.shopper.user.last_name }}</strong><br/>
                {{ order.shopper.user.email }}<br/>
                
                {% if order.will_collect %}
                <p>ANGELIQUE - what text should go here? I suggest a nice reminder to the customer about your location, and how they can collect, and to double confirm that they are willing to collect.</p>
                {% else %}
                {% include "snippets/address.html" %}
                {% endif %}
            {% endwith %}
        </p>
  	</div>

    

<form action="" method="POST" class="pure-u-4-5" id="payment">
  {% csrf_token %}
  
  <script
    src="https://checkout.stripe.com/v2/checkout.js" 
    class="stripe-button"
    data-key="{{ stripe_api_public_key }}"
    data-amount="{{ stripe_total_price|floatformat:'0' }}"
    data-name="{{ site_name }}"
    data-description="Pay {{ currency.symbol }}{{ total_price|floatformat:'2' }}"
    data-currency="{{ currency.code }}"
    data-label="Checkout Now!"
    {% thumbnail shopsettings.logo "128x128" crop="left" format="PNG" as im %}
    data-image="{{ im.url }}"
    {% endthumbnail %}>
  </script>
  
</form>

    
</div>

<div id="bottom" class="pure-g-r">

    <div class="info pure-u-1-3">
        <h3>{% trans 'Safe and secure payment' %}</h3>
      	<p>{% trans 'We accept all major credit and debit cards' %}</p>
      	<img src="{% static 'images/cards.png' %}" />
      	<a href="http://www.stripe.com"><img src="{% static 'images/stripe.png' %}"/></a>
      	<div style="margin: 10px 0 0 0;background-image: url('/static/images/logo16.jpg');background-position: 0px -33px; height: 52px; width: 202px;"></div>
    </div>
    
    <div class="info pure-u-1-3">
        <h3>{% trans 'Problems or questions?' %}</h3>
        {% url 'page' 'contact-us' as contact_url %}
        <p>{% blocktrans %}We aim to offer first class customer service - if you have ANY problems or questions, <a href="{{ contact_url }}">contact us</a> immediately. We'll respond as quickly as possible, usually within a few hours.{% endblocktrans %}</p>
    </div>


</div>

	
	
	
  </div>
</div>
{% endblock %}
