{% extends base_template %}
{% load i18n %}

{% block pagetitle %}{% trans 'Order (Step 2) - Your details' %}{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready( function() {
    
    $('#collect input').click( function() {
       $('#address').toggle(); 
    });
    
});
</script>
{% endblock %}

{% block extracss %}
<style type="text/css">

#collect {
    float: left;
    width: 470px;
    margin: 0 0 30px 0;
}

#collect input {
  float: left;
  margin: 0 15px 0 0;
}

#collect .help {
  font-size: 11px;   
  float: left;
  width: 470px;
}

</style>
{% endblock %}

{% block content %}


<div class="pure-g-r">
  	<h1 class="pure-u-1-2">Your details</h1>
  	  	
  	<ul id="steps" class="pure-u-1-2">
		<li>
			<a class="completed" href="{% url 'basket' %}">1. Your basket</a>
		</li>
		<li>
			<a class="selected" href="{% url 'order_step_one' %}">2. Your details</a>
		</li>
		<li>
			<a href="">3. Confirm and pay</a>
		</li>
	</ul>
	
	</div>
      
   <div class="pure-g-r">

      <form method="post" action="." class="pure-u-1"> 	 
        {% csrf_token %}
    

    		{% if form.first_name.errors or form.last_name.errors or form.email.errors %}
    		<ul class="errorlist"><li>* {% trans 'Please enter all the information in the mandatory fields (highlighted red) below' %}:</li></ul>
    		{% endif %}
        <fieldset>
            <legend>{% trans 'This just takes a minute - your name, email and address please!' %}</legend>
    		<p>
    			<label for="id_first_name">{% trans 'First name' %}</label>
    			<input  class="clearMeFocus {% if form.first_name.errors %}error{% endif %}" type="text" title="{% trans 'First name' %}" name="first_name" id="id_first_name" value="{{ first_name }}"/>
    		</p>
    		<p>
    			<label for="id_last_name">{% trans 'Surname' %}</label>
    			<input class="clearMeFocus {% if form.last_name.errors %}error{% endif %}" title="{% trans 'Last name' %}" type="text" name="last_name" id="id_last_name" value="{{ last_name }}"/>
    		</p>
    		<p>
    			<label for="id_email">{% trans 'Email address' %}</label>
    			<input class="clearMeFocus {% if form.email.errors %}error{% endif %}" title="{% trans 'Email address' %}" type="email" name="email" id="id_email" value="{{ email }}"/>
    		</p>	
        </fieldset>

    	
    	<fieldset>
            <p id="collect">
                <input type="checkbox" name="will_collect" id="id_will_collect"/>
                <label>I'll collect the order myself</label>
                <span class="help">If you check this box we'll prepare your order and e-mail you to arrange a time and place for collection when it's ready. We're based in South London.</span>
            </p>
            
           <div id="address"> 
          <p>
          	<label for="id_house_name_number">{% trans 'House name number' %}:</label>
          	<input class="clearMeFocus {% if form.line_1.errors %}error{% endif %}" title="{% trans 'Your address...' %}" id="id_line_1" type="text" name="line_1" value="{{ line_1 }}"/>
          </p>
	  
    	  <p>
    	  	<label for="id_line_2">{% trans 'Address line 1' %}:</label>
    	  	<input class="clearMeFocus {% if form.line_2.errors %}error{% endif %}" title="{% trans ' ...address continued (optional)' %}" id="id_line_2" type="text" name="line_2" value="{{ line_2 }}"/> 
    	  </p>
      	
          <p>
          	<label for="id_line_3">{% trans 'Address line 2' %}:</label>
          	<input class="clearMeFocus {% if form.line_3.errors %}error{% endif %}" title="{% trans ' ...address continued (optional)' %}" id="id_line_3" type="text" name="line_3"  value="{{ line_3 }}"/>
          	</p>
      
          <p>
          	<label for="id_town_city">{% trans 'Town / City' %}:</label>
          	<input class="clearMeFocus {% if form.town_city.errors %}error{% endif %}" title="{% trans 'Town or city' %}" id="id_town_city" type="text" name="town_city" value="{{ town_city }}"/> 
          </p>
          
          <p>
          	<label for="id_postcode">{% trans 'Postcode' %}:</label>
          	<input class="clearMeFocus {% if form.postcode.errors %}error{% endif %}" title="{% trans 'Postcode' %}" id="id_postcode" type="text" name="postcode" value="{{ postcode }}" /> 
          	</p>
      	
    	  <p class="styled-select">
    	    <label for="id_country">{% trans 'Country' %}:</label>
    	    <span class="country">
    	    {{ form.country }}
    	    </span>
    	  </p>
    	  
    	  </div>
        </fieldset> 	  


	<div id="checkout-button">
		<input type="submit" value="{% trans 'Next step - confirm and pay' %} &raquo;" next="" class="button large"/>
	</div>
		
	</form>


	</div>

  </div>
</div>

{% endblock %}
